{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-6 user-info">
        <div class="profile-img">
            {% if "placeholder" in profile.featured_image.url %}
            <img class="card-img-top" src="{% static 'images/feat-img-example.png' %}" alt="placeholder image">
            {% else %}
            <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
            {% endif %}

        </div>
        <div>
            <ul>
                <li>
                    username: {{ user.username }}
                </li>
                <li>
                    first name : {{ user.first_name }}
                </li>
                <li>
                    last name : {{ user.last_name }}
                </li>
                <li>
                    email : {{ user.email }}
                </li>
                <li>
                    bio: {{ user.profile.bio }}
                </li>

            </ul>
        </div>
    </div>
    <div class="col-6">

    </div>
</div>



{% endblock %}