{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section id="profile-page-banner" class="landing-banner container-fluid"></section>

<section id="profile-information">
    <div class="container">
        <div class="profile-card">
            <div class="profile-box">
                <div class="profile-pic">
                    {% if 'placeholder' in user.profile.profile_img.url %}
                    <img src="{% static 'images/bg-landing-draft-small-screen.png' %}" class="scale"
                        alt="Profile Placeholder">
                    {% else %}
                    <img src="{{ user.profile.profile_img.url }}" class="img-radius w-25 mb-5" alt="Profile Picture"
                        loading="lazy">
                    {% endif %}
                </div>
                <div class="profile-info">
                    <ul>
                        <li>
                            username: {{ user.username }}
                        </li>
                        <li>
                            first name : {{ user.first_name }}
                        </li>
                        <li>
                            last name : {{ user.last_name }}
                        </li>
                        <li>
                            email : {{ user.email }}
                        </li>
                        <li>
                            location: {{ user.profile.location }}
                        </li>
                        <li>
                            bio: {{ user.profile.bio }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}