{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section class="about-landing-banner container-fluid p-6 m-0">
    <h1 class="text-center text-white ">About us</h1>
</section>

<section id="about-section">
    <div class="container mt-5 about-content ">
        <div class="row">
            <div class="col text-center">
                <!-- Title goes between these h2 tags -->
                <h2>
                    {{ about.title }}
                </h2>
                <!-- Content goes directly underneath this -->
                {{ about.content | safe }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <!-- Updated on field goes in here -->
                <p class="text-end"><em>Updated on: {{ about.updated_on }} </em></p>
            </div>
        </div>
    </div>
</section>

<section class="profile-landing-banner container-fluid p-6 m-0">
    <h5 class="text-white text-center">Please leave us any feedback you might have</h5>
</section>

<section id="contact" class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-white">
            <div class="feedback-info text-center">
                <h2>
                We always want to hear from you!
                </h2>
                <p>
                    * Indicates required field
                </p>
            </div>
            <form method="post">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <div class="text-center mt-3">
                    <button class="btn btn-secondary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}