{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section id="about-section">
    <div class="container mt-5 about-content ">
        <div class="row">
            <div class="col-md-8">
                <!-- Title goes between these h2 tags -->
                <h2>
                    {{ about.title }}
                </h2>
                <!-- Content goes directly underneath this -->
                {{ about.content | safe }}
            </div>
            <div class="col-md-4 text-center">
                {% if "placeholder" in about.profile_image.url %}
                <img src="{% static 'images/bg-landing-draft-small-screen.png' %}" class="img-fluid"
                    alt="placeholder image">
                {% else %}
                <img src="{{ about.profile_image.url }}" class="img-fluid" alt="{{ about.title }}">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <!-- Updated on field goes in here -->
                <p class="text-end"><em>Updated on: {{ about.updated_on }} </em></p>
            </div>
        </div>
</section>

<section id="about-img-banner" class="about-banner container-fluid">

</section>

<section class="landing-banner container-fluid"></section>

<section id="contact" class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h2>Please Leave Any Feedback you might have!
                We always want to hear from you.
            </h2>

            <form method="post">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <div class="text-center mt-3">
                    <button class="btn btn-secondary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}