@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*------------------------------------------------------------------------------------------ General Styles */

body {
    background-color: #F9FAFC;
    font-family: Inika, sans-serif;
}

.card-info {
    justify-content: space-between;
}

.image-container {
    margin-bottom: 30px;
    width: 80%;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #000;
}

.card {
    background-color: #fff;
    border-radius: 2rem;
}

.pink-bg {
    background-color: #fd96cd;
}

/* ----------------------------------------------------------------------------------------- Button / Links */

.btn-signup,
.btn-edit {
    background-color: #F9FAFC;
    color: #000;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #FF44A7;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/*------------------------------------------------------------------------------------------ Base Template */

#navbar-bg-color {
    background-color: #98FC03;
}

.logo {
    font-family: Inika, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    color: #000;
}

.reg-links {
    color: #000;
}

.reg-links:hover {
    color: #FF44A7;
}

.footer-color {
    background-color: #98FC03;
}

.footer-color > p > i {
    color: #000000;
}

.footer-info {
    justify-content: space-between;
}

/*------------------------------------------------------------------------------------------- Home Page */

.landing-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/bg-landing-draft.png);
    padding: 150px;
}

.landing-banner>p {
    padding: 0;
    text-align: center;
    font-size: 150%;
    color: antiquewhite;
}

.article-list {
    padding-top: 30px;
}

.article-section-quote {
    padding: 50px;
}

.article-section-quote>p {
    color: #FF44A7;
    text-align: center;
    padding: 70px;
    font-size: 130%;
}

.add-post-link-box {
    border: 1px solid white;
    border-radius: 2em;
    padding: 15px;
    line-height: 50px;
}

.next-btn {
    border-radius: 2rem;
    padding: 15px;
    font-weight: 600;
    background-color: #FF44A7;
    border: 0;
    margin: 30px;
}



.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/*--------------------------------------------------------------------------------------------- Post Detail Page */

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    left: -2px;
    background-color: #FF44A7;
    border-radius: 2rem;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 20px;
}

.masthead-text {
    background-color: #FF44A7;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #203600;
}

/*--------------------------------------------------------------------------------------------- Comment styles */

.commenter {
    justify-content: flex-end;
}
.commenter-img {
    max-width: 50px;
    max-height: 50px;
}

.comment-box{
    background-color: #FF44A7;
    padding: 10px;
}

.comment-section {
    justify-content: space-around;
    margin-bottom: 100px;
}

.faded {
    color: rgb(253, 255, 255);
}

.approval {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.comment-break {
    color: #000;
}

.comment-submit{
    text-align: center;
}

.comment-edit-btns {
    margin-top: 10px;
    gap: 10px;
}

.btn-delete {
    color: #fff;
    background: #000;
}

.add-comment {
    max-height: 600px;
    background-color: transparent;
    padding: 10px;
}

/* ---------------------------------------------------------------------------------------------- About content */

.about-landing-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/about-bg-1.png);
    padding: 150px;
    background-position: center;
}

.about-content {
    color: #e5ffbe;
}



/* Temporarily pushing contact form lower down */

#contact {
    margin-top: 200px;
}

/* ------------------------------------------------------------------------------------------------------- User Profile Page */

.profile-landing-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/friends-bg-landing-1.png);
    padding: 150px;
    background-position: center;
}

.profile-box {
    display: flex;
}

.user-card {
    background-color: #000;
}

.user-info-card {
    background-color: #fd96cd;
}

.bio-box {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2rem;
    padding: 10px 5px;
    
}

.profile-post-list {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 2rem;
    padding: 10px;
}

.add-post-content {
    color: #fff;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

/* ------------------------------------------------------------------------------------------------------ Update Profile */

/* Form box styles */
.update-card {
    background-color: #FF44A7;
    color: #000;
    border-radius: 2rem; 
    margin: 30px;
}

/* Form spacing */
form .form-group {
    margin-bottom: 1.5rem;
}

/* Align and space the submit button */
button[type="submit"] {
    margin-top: 1rem;
    background-color: #000;
    border: 1px solid black;
}

.update-submit-btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}

.btn-signup {
    color: #fff;
}

/*-------------------------------------------------------------------------------------------------------- Profile Delete */


/* ------------------------------------------------------------------------------------------------------- Media Queries */


/* Mobile Styles */

@media screen and (max-width: 450px) {
    .landing-banner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/bg-landing-draft-small-screen.png);
        padding: 100px;
    }

    .article-section-quote {
        padding: 5px;
    }

}

/* Styles for screens larger than 1450px */
@media screen and (min-width: 1450px) {
    .add-post-content {
        background-color: #FF44A7;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user-post-form {
        margin-top: 20px;
    }
}

/* Show 'Add User Post' section only on screens wider than 1450px */
@media screen and (min-width: 1450px) {
    .d-custom-flex {
        display: flex !important;
    }

    .d-custom-none {
        display: none !important;
    }
}

/* Show mobile message on screens smaller than 1450px */
@media screen and (max-width: 1449px) {
    .d-custom-flex {
        display: none !important;
    }

    .d-custom-none {
        display: block !important;
    }
}

